@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.sidebar {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    padding-top: 1rem;
    border-top: 1px solid $primary-boarder;
    background-color: $primary-color;

    @include tablet {
        height: 100%;
        position: unset;
        padding: 1.5rem 2rem;
        width: 260px;
        border-top: none;
        border-right: 2px solid $primary-boarder;
    }

    @include desktop {
        padding: 2rem 4rem;
        width: 350px;
    }

    &__menu {
        @include flex-style(flex-start, space-around, center, nowrap, row);
        list-style: none;
        height: 10vh;
        width: 100%;

        @include tablet {
            @include flex-style(flex-start, flex-start, left, nowrap, column);
            height: auto;
            gap: 1.5rem;
        }

        @include desktop {
            gap: 2rem;
        }
    }

    &__item {
        flex: 1;
    }

    &__link {
        @include flex-style(center, center, center, nowrap, column);
        text-decoration: none;
        @include font-style(0.75rem, 1.25, 500, $secondary-text);

        @include tablet {
            @include flex-style(flex-start, center, center, nowrap, row);
            font-size: 1rem;
            gap: 0.25rem;
        }

        @include desktop {
            font-size: 1.1rem;
            gap: 0.75rem;
        }

        &--active {
            color: $primary-select;

            .sidebar__icon svg path {
                fill: $primary-select;
            }
        }

        &:hover {
            color: $primary-select;
            transform: scale(1.1);

            .sidebar__icon svg path {
                fill: $primary-select;
            }
        }
    }

    &__icon {
        margin-bottom: 0.25rem;

        & svg {
            width: 20px;
            height: 20px;
        }
    }

}