@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.expense {
    &__recent-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__recent-item {
        @include flex-style(center, space-between, left, nowrap, row);
        padding: 10px 0;
        border-top: 1px solid $primary-boarder;
    }

    &__recent-description {
        @include font-style(0.925rem, 1.25, 600, $primary-text);
    }

    &__recent-container {
        @include flex-style(flex-start, space-between, left, nowrap, row);
        gap: 0.25rem;
        @include font-style(0.825rem, 1.25, 400, $primary-text);
        margin-top: 0.5rem
    }

    &__recent-actions {
        @include flex-style(center, space-between, left, nowrap, row);
        gap: 0.5rem;

    }

    &__recent-icon {
        cursor: pointer;
    }

    &__recent-amount {
        @include font-style(0.825rem, 1.25, 500, $primary-text);
    }
}