$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-select: #2563EB;
$primary-text: #111827;
$secondary-text: #4B5563;
$primary-color: #FFFFFF;
$tertiary-text: #374151;
$primary-boarder: #E5E7EB;
$primary-background: #F9FAFB;
$secondary-background: #EFF6FF;
$primary-process: #3B82F6;
$secondary-process: #22C55E;
$primary-highlight: #EF4444;
$primary-shadow: rgba(0, 0, 0, 0.1);
$primary-hover:#FFEDED;